
<div id="0">
  <% for i in 0..(@sorted_counties[0].length-1) do %>
  <p> <%= @sorted_counties[0][i].name %> - <%= @sorted_counties[0][i].state.name %> Preço: <%= @counties_fuels[0][i].min_resale_price %> </p> <br>
  <% end %>
</div>
