<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
  $(function () {
    $( "#ranking-fuel-selection" ).tabs();
  });
</script>

<div id="ranking-fuels">
  <div class="container">
    <div id ="ranking-fuel-selection">
      <ul class="nav nav-tabs">
        <li role="presentation" id="gasoline-rank-btn" ><a href="#rank-gasoline">Gasolina</a></li>
        <li role="presentation" id="ethanol-rank-btn"><a href="#rank-ethanol">Etanol</a></li>
        <li role="presentation" id="diesel-rank-btn"><a href="#rank-diesel">Diesel</a></li>
      </ul>

        <div id="rank-gasoline">
          <%= render 'county_ranking_gasoline' %>
        </div>

        <div id="rank-diesel">
          <%= render 'county_ranking_diesel' %>
        </div>

        <div id="rank-ethanol">
          <%= render 'county_ranking_ethanol' %>
        </div>

      </div>
  </div>
</div>
