<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading"><a href="" target="_top">Gráfico Municipal Mensal</a></h2>
        <p class="lead">Veja aqui gráficos e rankings referentes a dados sobre os preços dos combustiveis no Brasil.</p>
        <h2 class="section-heading"><a href="/statistics/state_monthly" target="_top">Gráfico Estadual Mensal</a></h2>
        <p class="lead">Veja aqui gráficos e rankings referentes a dados sobre os preços dos combustiveis no Brasil.</p>
        <h2 class="section-heading"><a href="/statistics/country_monthly" target="_top">Gráfico Brasileiro Mensal</a></h2>
        <p class="lead">Veja aqui gráficos e rankings referentes a dados sobre os preços dos combustiveis no Brasil.</p>
        <h2 class="section-heading"><a href="/statistics/county_anual" target="_top">Gráfico Municipal Anual</a></h2>
        <p class="lead">Veja aqui gráficos e rankings referentes a dados sobre os preços dos combustiveis no Brasil.</p>
        <h2 class="section-heading"><a href="/statistics/state_annual" target="_top">Gráfico Estadual Anual</a></h2>
        <p class="lead">Veja aqui um gráfico de preço dos combustíveis por ano de qualquer estado brasileiro</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="assets/statistics2.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading"><a href="statistics/ranking_county" target="_top">Ranking de preço médio por município</a></h2>
        <p class="lead">Veja aqui o ranking por município referente ao preço médio dos principais combustivéis do Brasil</p>
        <h2 class="section-heading"><a href="statistics/ranking_deviation" target="_top">Ranking do desvio padrão</a></h2>
        <p class="lead">Veja aqui o ranking dos municípios com base no desvio padrão dos combustíveis. Quanto menor o desvio padrão, menor é a variação dos preços. Isso indica que os preços são muito parecidos no município</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="assets/podium_rank.png" alt="">
      </div>
    </div>
  </div>
</div>
