
    <div class="content-section-c">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="/statistics/county_anual" target="_top">Gráfico Municipal Anual</a></h2>
                    <p class="lead">Veja aqui gráficos e rankings referentes a dados sobre os preços dos combustiveis no Brasil.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="assets/statistics.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="/statistics/state_annual" target="_top">Gráfico Estadual Anual</a></h2>
                    <p class="lead">Veja aqui um gráfico de preço dos combustíveis por ano de qualquer estado brasileiro</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="assets/statistics2.png" alt="">
                    </div>
                </div>

            </div>
        </div>
