<input id="origin" class="controls" type="text" placeholder="Origem">
<input id="destination" class="controls" type="text" placeholder="Destino">

<div id="map-container" class="col-md-6"></div>


<%= content_tag :div, class: "counties", data: {counties: @counties} do %>
<% end %>

<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDfGB7KMArZa_LfxkHdqJH6Yd1ExsXO1I&libraries=places&callback=initMap">
</script>