<legend>Map</legend>

<input id="origin" class="controls" type="text" placeholder="Origem">
<input id="destination" class="controls" type="text" placeholder="Destino">

<button type = "button" id="ethanol" value = "0">Etanol</button>
<button type = "button" id="gasoline" value = "1">Gasolina</button>
<button type = "button" id="GLP" value = "2">GLP</button>
<button type = "button" id="GNV" value = "3">GNV</button>
<button type = "button" id="Disel" value = "4">Disel</button>
<button type = "button" id="S10" value = "5">Disel S10</button>

<p id="selectedFuel">Fuel Name</p>
<div id="map-container" class="col-md-6"></div>

<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDfGB7KMArZa_LfxkHdqJH6Yd1ExsXO1I&libraries=places&callback=initMap">
</script>
