<div id=tf-home class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <br>
                    <br>
                    <CENTER><img class="img-responsive" src="assets/logo_principal.png" alt=""></CENTER>
                    <h3>Aplicação web destinada a divulgar as melhores cidades para abastecer o seu carro  </h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tf-search">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="search-map-brazil" target="_top">Pesquisar preços de combustíveis por municípios</a></h2>
                    <p class="lead">Deseja saber os preços dos combustíveis dos municípios próximos ao seu? Ou comparar os preços dos combustíveis do seu município com o Brasil afora? 
                        Com a pesquisa de preços do Abastece Aqui, você poderá encontrar o preço dos combustíveis de todo o Brasil.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="assets/combustivel.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="tf-calculator">
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading"><a href="calculator" target="_top">Calculadora de Rentabilidade</a></h2>
                        <p class="lead">Está em dúvida ao escolher o combustível para abastecer o seu carro? Use a calculadora de rentabilidade do Abastece Aqui que resolvemos isso para você!</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="assets/calculator.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tf-statistics">
    <div class="content-section-c">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="statistics" target="_top">Estatísticas</a></h2>
                    <p class="lead">Veja aqui gráficos e rankings referentes a dados sobre os preços dos combustiveis no Brasil.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="assets/statistics.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="tf-about">
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <div class="clearfix"></div>
                        <br><br>
                        <h2 class="section-heading"> Sobre nós</h2>
                        <span class="division"> <hr> </span>
                        <p class="lead">Nós somos alunos do curso Engenharia de Software, da Universidade de Brasília, do campus Gama, das disciplinas Gestão de Processos e Portifólios(GPP) e Métodos de Desenvolvimento de Software(MDS)</p> <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
