<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top on" >
    <div class="container">
        <div class="navbar-header">
            <button type="but" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>              
            <%= link_to image_tag('logo_principal_pequeno.png'), root_path, method: :get %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://localhost:3000/#tf-search" target="_top"> Pesquisar</a></li>
                <li><a href="http://localhost:3000/#tf-calculator" target="_top"> Calculadora</a></li>
                <li><a href="http://localhost:3000/#tf-about" target="_top"> Sobre</a></li>
            </ul>
        </div>
    </div>
</nav>