<!--
<div id="ranking-fuels">
  <div class="container">
    <div id ="ranking-fuel-selection" class="ranking-fuel-selection">
      <div class="nav-center">
        <ul class="nav nav-tabs">
          <li role="presentation" id="gasoline-rank-btn" class="active"><a href="#">Gasolina</a></li>
          <li role="presentation" id="ethanol-rank-btn"><a href="#">Etanol</a></li>
          <li role="presentation" id="diesel-rank-btn"><a href="#">Diesel</a></li>
        </ul>
      </div>

        <div class="rank-gasoline" id="rank-gasoline">
          <%= render 'county_ranking_gasoline' %>
        </div>

        <div class="rank-ethanol" id="rank-ethanol">
          <%= render 'county_ranking_ethanol' %>
        </div>

        <div class="rank-diesel" id="rank-diesel">
          <%= render 'county_ranking_diesel' %>
        </div>

      </div>
  </div>
</div>

<% content_for :header do -%>
  <%= javascript_include_tag 'county_rank.js' %>
<% end %>
-->

<p>Estou funcionando!</p>