#profitability-message {
		text-align: center;
		font-size: 36px;
		margin-top: 60px;
}
#calculatorTitle {
    color: #fff;
    padding: 20px;
    border-radius: 6px 6px 0 0;
    font-size: 16px;
    font-weight: 300;
}
.mb-gray {
    background-color: #e6e6e6;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.text-center {
    text-align: center;
}
* {
    font-family: Helvetica;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}