@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.padding-page-top > *:nth-of-type(1) {
  padding-top: 80px;
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.align-img {

    text-align: center;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../assets/gas_station.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
@media(max-width: 1000px) {
    .intro-header {
        background-attachment: scroll;
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}
@media(max-width: 440px) {
    .intro-message > h3 {
        font-size: 15px;
    }
}
.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    color: #FFFFFF;
    text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px

}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    .profitability-message > h2 {

        font-size: 20px;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}
.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content-section-c {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../assets/banner-bg.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

@media(max-width: 1230px) {
    .banner {
        background-attachment: scroll;
        display: block;
        max-width: 100%;
        height: auto;
    }
}
.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: none;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 49px 0;
    background-color: #f8f8f8;
}

html, body, .padding-page-top {
    height:90%;
}
body > .padding-page-top {
 height: auto; min-height: 100%;
}
.padding-page-top > #tf-home {
    padding-top: 0px;
}
.padding-page-top {
    padding-bottom: 5em;
}

p.copyright {
    margin: 15px 0 0;
}
