#map-container { 
	margin-top: 100px;
	height: 500px;
	width: 100%; 
}

.controls {

	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	width: 250px;
	margin-top: 10px;
	margin-left: 5px;
}