* {
  font-family: Helvetica;
}


button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[name=state_name], input[name=county_name] {
  display: block;
  border-radius: 5px;
  border-color: lightgray;
  border-style: solid;
  width: 37%;
  font-weight: lighter;
  margin-left: 10%;
}

label[for=state_name] {
  float: left;
  margin-right: 75px;
  color: #000;
}

label[for=county_name] {
  float: left;
  margin-right: 56px;
  color: #000;
}

#county-group {
  margin-left: 33%;
}

#state-group {
  margin-left: 33%;
  margin-top: 30px;
  margin-bottom: 15px;
}

input[name=commit] {
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-search{
  background-color: #fff;
  border-radius: 5px;
  width: auto;
  height: auto;
  margin-left: 70px;
  margin-right: 80px;
  margin-top: 50px;
  
}

.animate {
  transition: all 0.3s ease-in-out;
}

.card-info {
  width: 100%;
  border: 1px solid rgb(215, 215, 215);
  position: relative;
  font-family: 'Lato', sans-serif;
  margin-top: 25%;  
  overflow: hidden;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),  0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

#card-logo {
 width: 100%;
 margin-bottom: 15%;
}

.card-info .card-info-details,
.card-info .card-info-details .card-info-title  {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  padding: 0 15px;
  background: rgb(255, 255, 255);
  text-align: center;
}


.card-info .card-info-details .card-info-title {
  height: auto;   
  bottom: 100%;
  padding: 10px 5px;
}

.card-info:hover .card-info-details {
  bottom: 0px;
  overflow: auto;
  padding-bottom: 25px;
}

.card-info:hover .card-info-details .card-info-title {
  position: relative;
  bottom: 0px;
  padding-top: 45px;
  padding-bottom: 25px;
}

.card-info .card-info-details .card-info-title h2,  
.card-info .card-info-details .card-info-title p {
  color: rgb(62, 62, 62);
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.card-info .card-info-details .card-info-title p {
  color: rgb(142, 182, 52);
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}

.card-info .card-info-details .card-info-detail .social {
  list-style: none;
  padding: 0px;
  margin-top: 25px;
  text-align: center;
}

.card-info .card-info-details .card-info-detail .social a {
  position: relative;
  display: inline-block;
  min-width: 40px;
  padding: 10px 0px;
  margin: 0px 5px;
  overflow: hidden;
  text-align: center;
  background-color: rgb(215, 215, 215);
  border-radius: 40px;
}
.dropdown {
  border-color: #f1f1f1;
  border-width: 1px;
  border-style: solid ;
  border-radius: 5px;
  background: #f1f1f1;
  width: 25% !important;
  height:25px;
  color: #626364;
}


label[for=state_searched] {
  float: left;
  margin-right: 50px;
  color: #000;
}

label[for=county_searched] {
  float: left;
  margin-right: 30px;
  color: #000;
}

#county-group {
  margin-left: 40%;
}

#state-group {
  margin-left: 40%;
  margin-top: 30px;
  margin-bottom: 15px;
}
#search-buttons {
  margin-left: calc(50% - 105px);
}

@media (max-width: 768px) {

  label[for=state_searched] {
    float: none;
    margin-left: 2%;
  }
  label[for=county_searched] {
    float: none;
    margin-left: 1%;
  }
  #search-buttons {
    margin-top: 30px;
    margin-left: calc(50% - 80px);
  }

  .dropdown {
    border-color: #f1f1f1;
    border-width: 1px;
    border-style: solid ;
    border-radius: 5px;
    width: 150px !important;
    height:20px;
    color: #626364;
    margin-left: 0%;
  }

}

@media (max-width: 520px) {

  label[for=state_searched] {
    float: none;
    margin-left: 3%;
  }
  label[for=county_searched] {
    float: none;
    margin-left: 1%;
  }
  #search-buttons {
    margin-top: 30px;
    margin-left: calc(50% - 80px);
  }

  .dropdown {
    border-color: #f1f1f1;
    border-width: 1px;
    border-style: solid ;
    border-radius: 5px;
    width: 150px !important;
    height:20px;
    color: #626364;
    margin-left: -25%;
  }

}

@media (max-width: 450px) {
 .card-info .card-info-details .card-info-title h2 {
   font-size: 15px;
 }

 .card-info .card-info-details .card-info-title p {
   font-size: 12px;
 }
}

