* {
    font-family: Helvetica;
}


button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input[name=state_name], input[name=county_name] {
	display: block;
	border-radius: 5px;
	border-color: lightgray;
	border-style: solid;
	width: 37%;
	font-weight: lighter;
	margin-left: 10%;
}


#county-group {

	width:250px;
	position: relative;
	margin: auto;
}

.search-dropdown{
	margin-top: 15%;
	margin-bottom: 15%;
}


input[name=commit] {
	width: 100px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: calc(50% - 50px);
}

form {
	background-color: #E6E6E6;
	border-radius: 5px;
	width: auto;
	height: auto;
	margin-left: 70px;
	margin-right: 80px;
	margin-top: 50px;
	border: solid lightgray 1px;
}

.animate {
	transition: all 0.3s ease-in-out;
}

.card-info {
	width: 100%;
	border: 1px solid rgb(215, 215, 215);
	position: relative;
	font-family: 'Lato', sans-serif;
	margin-top: 25%;	
	overflow: hidden;
	box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),  0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

#card-logo {
	width: 100%;
	margin-bottom: 15%;
}

.card-info .card-info-details,
.card-info .card-info-details .card-info-title  {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -100%;
	left: 0;
	padding: 0 15px;
	background: rgb(255, 255, 255);
	text-align: center;
}
       

.card-info .card-info-details .card-info-title {
	height: auto;		
	bottom: 100%;
	padding: 10px 5px;
}

.card-info:hover .card-info-details {
	bottom: 0px;
	overflow: auto;
	padding-bottom: 25px;
}

.card-info:hover .card-info-details .card-info-title {
	position: relative;
	bottom: 0px;
	padding-top: 45px;
	padding-bottom: 25px;
}

.card-info .card-info-details .card-info-title h2,	
.card-info .card-info-details .card-info-title p {
	color: rgb(62, 62, 62);
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.card-info .card-info-details .card-info-title p {
	color: rgb(142, 182, 52);
	font-size: 15px;
	font-weight: 400;
	margin-top: 5px;
}

.card-info .card-info-details .card-info-detail .social {
	list-style: none;
	padding: 0px;
	margin-top: 25px;
	text-align: center;
}

.card-info .card-info-details .card-info-detail .social a {
	position: relative;
	display: inline-block;
	min-width: 40px;
	padding: 10px 0px;
	margin: 0px 5px;
	overflow: hidden;
	text-align: center;
	background-color: rgb(215, 215, 215);
	border-radius: 40px;
}

@media (max-width: 450px) {
	.card-info .card-info-details .card-info-title h2 {
		font-size: 15px;
	}

	.card-info .card-info-details .card-info-title p {
		font-size: 12px;
	}
}