* {
    font-family: Helvetica;
}


button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input[name=state_name], input[name=county_name] {
	display: block;
	border-radius: 5px;
	border-color: lightgray;
	border-style: solid;
	width: 37%;
	font-weight: lighter;
	margin-left: 10%;
}

label[for=state_name] {
	float: left;
	margin-right: 75px;
	color: #000;
}

label[for=county_name] {
	float: left;
	margin-right: 56px;
	color: #000;
}

#county-group {
	margin-left: 33%;
}

#state-group {
	margin-left: 33%;
	margin-top: 30px;
	margin-bottom: 15px;
}

input[name=commit] {
	width: 100px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: calc(50% - 50px);
}

form {
	background-color: #E6E6E6;
	border-radius: 5px;
	width: auto;
	height: auto;
	margin-left: 70px;
	margin-right: 80px;
	margin-top: 50px;
	border: solid lightgray 1px;
}

hr { 
	width:100%;
	height:1px;
	background: #e6e6e6
}

#title-form {
	color: black;
	text-align: center;
}

#card-container{

	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	justify-content: space-between;
}

.card {
	text-align: justify;
	margin: 10px;
	margin-left: 10%;
	display: inline-block;
	width: 200px;
	height: 220px;
	position: relative;
	box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),  0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.card-hidden {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	display: none;
}

.card-hidden  #card-hidden-title {
	padding-top: 5px;
	padding-bottom: 5px;
}

.card-hidden #card-hidden-content {
	font-size: 12px;
}

.card-color {
	height: 70%;
	width: auto;
	background-color: red;
}

.card-info {
	height: 30%;
	background-color: #FAFAFA;
}

.card-info:active + .card-hidden {
	display: inline-block;
}

.card-title{
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
}

.card-info-content{
	font-weight: lighter;
	text-align: center;
}

#card-hidden-content p {
	font-weight: lighter;
	margin: 10px 5px 5px 20px;

}
