#gasolina-info-btn {
	margin-left: 35%;
}
.graph_background {

  background: url(../assets/line_graph_image.png) no-repeat center center;
  background-size: cover;

}

.ranking_background {

  background: url(../assets/line_graph_image.png) no-repeat center center;
  background-size: cover;

}

#type_of_fuel_selection .nav-tabs{
 	text-align: center;
}
