<div class="container">
	<!-- Usar mais os forms do ruby -->
	<form action='/calculator'>
		<form class="form-horizontal">
			<fieldset>

				<legend>FuelProftability</legend>

				<br><br>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="gas_price">Gasolina</label>  
				  <div class="col-md-5">
				  <input id="gas_price" name="gas_price" type="text" placeholder="Digite o valor da gasolina" class="form-control input-md" required=""><br>
				    
				  </div>
				</div>

				<div class="form-group">
				  <label class="col-md-4 control-label" for="ethanol_price">Alcool</label>  
				  <div class="col-md-5">
				  <input id="ethanol_price" name="ethanol_price" type="text" placeholder="Digite o valor do alcool" class="form-control input-md" required=""><br>
				    
				  </div>
				</div>

				<div class="form-group">
				  <label class="col-md-4 control-label" for=""></label>
				  <div class="col-md-6">
				     <input type='submit' value='Calcular'/>
				  </div>
				</div>

			</fieldset>
		</form>

	 
	</form>
</div>

<!-- Chamar a funcao -->



<%if @answer == nil %>
<!-- Nothing to do-->
<%elsif @answer == true %>
<div class="profitability-message">
<h1>O Etanol é mais rentável</h1>
<% else %>
<h2>A Gasolina é mais rentável</h2>
</div>
<% end %>
